{% extends 'pages/register-pages/base.html' %} {% block title %}
<title>ログイン</title>
{% endblock %} {% block body %}
<div class="registration-box">
  <main class="registration-main">
    <img src="../../static/img/cathouse.svg" alt="キャットハウス" width="500px" height="620px" />
    <form class="registration-form" method="post">
      <div class="registration-container">
        <h1>
          Welcome to <br />
          ShareHappy
        </h1>
        <div class="registration-label">
          <label for="mailaddress">メールアドレス</label>
          <input type="text" id="mailaddress" name="mailaddress" />
        </div>
        <div class="registration-label">
          <label for="password">パスワード</label>
          <input type="password" id="password" name="password" />
        </div>
    
        <!-- 2024/11/21 うっちゃん エラーを追記 -->
        <div class="error-container">
          {% with messages = get_flashed_messages() %} {% if messages %}
          <ul class="flashes">
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
          </ul>
          {% endif %} {% endwith %}
        </div>
    
        <div class="registraion-button">
          <button class="login-button">ログイン</button>
          <a class="signup-button" href="{{url_for('signup')}}"> 新規登録 </a>
        </div>
      </div>
    </form>
  </main>
</div>
{% endblock %}
