{% extends 'pages/home-pages/base.html' %}
{% block title %}
<title>チャット画面-{{ channel.name }}</title> <!--タブ名の表示-->
{% endblock %} 
{% block body %}
<div class="chat-border">
   <div class="chat-container">
       <div>{{ channel.name }}</div>
        {% if channel.abstract %} <!--channel.abstractが存在し、空でない場合にのみ適用（チャットのコメント部分）-->
       <div class="abstract">{{ channel.abstract }}</div>
       {% endif %}
   <div class="task-calendar-container">
       <button class="chat-edit">○</button>
       <button class="chat-calendar">カレンダー</button>
       <button class="chat-task">タスク</button>
   </div>
   </div>

   <div id="messages" class="chat-wrapper"> <!-- メッセージ表示部分 -->
        {% for message in messages %} <!--リストや配列の中の要素をループ処理するためのもの-->
            <div>{{ message.user_name }}</div>  <!--チャット内ユーザー名-->
            <div>{{ message.created_at }}</div> <!--年月日-->
            <div class="message {% if message.user_id == current_user_id %}own-message{% endif %}"> <!--message.user_id はそのメッセージを送信したユーザーのIDを指し、current_user_id は現在ログインしているユーザーのID-->
                 <!--own-message クラスは、通常、現在のユーザーが送信したメッセージに特別なスタイルを適用するために使われます。例えば、背景色を変更したり、メッセージの位置を右側に配置するなどの視覚的な違いをつけることができます。-->
                <p>{{ message.content | e }}</p> <!--.content は、サーバーサイドから渡されたメッセージの内容。メッセージの内容が "Hello, world!" であれば、この構文は "Hello, world!" を出力します。-->
                <div class="message-meta">
                   {% if message.user_id == current_user_id %} <!--テンプレートエンジンの条件分岐-、メッセージを送信したユーザーが現在ログインしているユーザーの場合のみ、以下の削除ボタンを表示-->
                        <form action="/delete_message" method="POST" style="display:inline;"><!-- 削除ボタン -->
                            <input type="hidden" name="message_id" value="{{ message.id }}">
                            <input type="hidden" name="cid" value="{{ channel.id }}">
                            <button type="submit">削除</button>
                        </form>
                    {% endif %}
                </div>
            </div>
        {% endfor %}
    </div>

    <!-- 新しいメッセージ投稿フォーム -->
    <div class="chat-form-container">
        <form action="/message" method="POST">
            <input type="hidden" name="cid" value="{{ channel.id }}">
            <div class="chat-button-container">
               <textarea class="chat-area" name="message" rows="1" placeholder="メッセージを入力してください" required></textarea><br>
               <button class="send-button" type="submit">送信</button>
            </div>
        </form>
    </div>
</div>
</body>
{% endblock %}