<!-- add-personal.htmlの画面で「チャットする」ボタンが押された時のモーダル（個人チャットへの招待） -->
<div id="apChatModal" class="apChatModal">
    <!-- モーダルの箱 -->
    <div id="apModalContent" class="ap-modal-content">
        <!-- モダールの質問文 --> <!-- 「〜〜さん」というところ考える -->
        <div class="ap-modal-header">
            <p>〜〜さんから<br>
                チャットルームに招待されました！<br>
                参加しますか？</p>
        </div>
        <!-- モダールのボタン -->
        <div class="ap-modal-button">
            <button id="apConfirmChat">参加する</button>
            <button id="apCancelChat">今はしない</button>
        </div>
    </div>
</div>