<!-- make-group.htmlの画面で「グループを作成」ボタンが押された時のモーダル（グループへの招待）-->
<div id="mgChatModal" class="mgChatModal">
    <!-- モーダルの箱 -->
    <div id="mgModalContent" class="mg-modal-content">
        <!-- モダールの質問文 --> <!-- 「〜〜さん」「〇〇グループ」というところ考える -->
        <div class="mg-modal-header">
            <p>〜〜さんから<br>
                〇〇グループに招待されました！<br>
                参加しますか？</p>
        </div>
        <!-- モダールのボタン -->
        <div class="mg-modal-button">
            <button id="mgConfirmChat">参加する</button>
            <button id="mgCancelChat">今はしない</button>
        </div>
    </div>
</div>