{% extends 'pages/large-window-pages/base.html' %}
{% block title %}
<title>新規チャット作成画面</title>
{% endblock %}
{% block body %}
<!--ボックス（枠）-->
<div class="add-personal-box">
    <!--タイトル・検索バー・グループモードボタン、３つのクラス-->
    <div class="add-personal-tsg">
        <!--タイトル「メンバー」-->
        <div class="add-personal-title">
            <h1>メンバー</h1>
        </div>
        <!--検索バー-->
        <div class="add-personal-search">
            <input type="search" name="q">
            <button><img src="../../../static/img/search-icon.svg"></button>
        </div>
        <!--グループ追加モードボタン--> <!-- バックエンドと相談？ <a href="add-group.html> はいらないか、、、" -->
        <div class="ap-add-group-btn">
            <a href="/addgroup"><img src="../../../static/img/group-mode-icon.svg" alt="グループモードボタン" width="70" height="70"></a>
        </div>
    </div>
    <!--友達一覧テーブル？（アカウント画像？）-->
    <div class="add-personal-friends">
        <ul class="ap-friend-list"> 
            <li class="ap-friend-item"> 
                <img src="../../../static/img/user-icon.png" alt="友達1" class="profile-pic">
                <span class="friend-name">友達1</span>
                <!--バックエンドと相談--> <!-- jsのid -->
                <button type="button" id="apChatButton1">チャットする</button>
            </li>
            <li class="ap-friend-item">
                <img src="../../../static/img/user-icon.png" alt="友達2" class="profile-pic">
                <span class="friend-name">友達2</span>
                <button type="button" id="apChatButton2">チャットする</button>
            </li>
            <li class="ap-friend-item">
                <img src="../../../static/img/user-icon.png" alt="友達3" class="profile-pic">
                <span class="friend-name">友達3</span>
                <button type="button" id="apChatButton3">チャットする</button>
            </li>
            <li class="ap-friend-item">
                <img src="../../../static/img/user-icon.png" alt="友達4" class="profile-pic">
                <span class="friend-name">友達4</span>
                <button type="button" id="apChatButton4">チャットする</button>
            </li>
            <li class="ap-friend-item">
                <img src="../../../static/img/user-icon.png" alt="友達5" class="profile-pic">
                <span class="friend-name">友達5</span>
                <button type="button" id="apChatButton5">チャットする</button>
            </li>
            <li class="ap-friend-item">
                <img src="../../../static/img/user-icon.png" alt="友達6" class="profile-pic">
                <span class="friend-name">友達6</span>
                <button type="button" id="apChatButton6">チャットする</button>
            </li>
            <li class="ap-friend-item">
                <img src="../../../static/img/user-icon.png" alt="友達7" class="profile-pic">
                <span class="friend-name">友達7</span>
                <button type="button" id="apChatButton7">チャットする</button>
            </li>
            <li class="ap-friend-item">
                <img src="../../../static/img/user-icon.png" alt="友達8" class="profile-pic">
                <span class="friend-name">友達8</span>
                <button type="button" id="apChatButton8">チャットする</button>
            </li>
            <li class="ap-friend-item">
                <img src="../../../static/img/user-icon.png" alt="友達9" class="profile-pic">
                <span class="friend-name">友達9</span>
                <button type="button" id="apChatButton9">チャットする</button>
            </li>
            <li class="ap-friend-item">
                <img src="../../../static/img/user-icon.png" alt="友達10" class="profile-pic">
                <span class="friend-name">友達10</span>
                <button type="button" id="apChatButton10">チャットする</button>
            </li>
            <li class="ap-friend-item">
                <img src="../../../static/img/user-icon.png" alt="友達11" class="profile-pic">
                <span class="friend-name">友達11</span>
                <button type="button" id="apChatButton11">チャットする</button>
            </li>
            <li class="ap-friend-item">
                <img src="../../../static/img/user-icon.png" alt="友達12" class="profile-pic">
                <span class="friend-name">友達12</span>
                <button type="button" id="apChatButton12">チャットする</button>
            </li>
            <!--＊さらに友達を追加-->
        </ul>
    </div>
</div>
{% endblock %}