<!DOCTYPE html>
<html lang="ja">
  <head>
      <meta charset="UTF-8" /> <!--文字化けを防ぐ-->
      <meta http-equiv="X-UA-Compatible" content="IE=edge" /> <!--IEとのバージョンの互換性を保つ-->
      <meta name="viewport" content="width=device-width, initial-scale=1.0" /> <!--レスポンシブデザインのため。モバイルの可動領域-->
      {% block title %}{% endblock %}
      <link rel="icon" href="../../static/img/favicon.svg" /> <!--ファビコン画像-->
      <link rel="stylesheet" href="../../static/css/styles.css" /><!--cssのリンクファイル-->
   </head>
   <header class="design">
      <h1>ShareHappy</h1>
   </header>
   <body>
      {% block body %}{% endblock %}
   </body>
   <footer class="design2"></footer>
</html>