{% extends 'pages/large-window-pages/base.html' %} 
{% block title %}
<title>初回グループ選択画面</title>
{% endblock %} 
{% block body %}
<div class="border "><!--メッセージ（ようこそ）-->
  <div class="group-add"> 
       <h1>Nice to meet you!</h1>
       <h2>グループを選択してね！</h2>
  </div>
  <div class="group-add-container"> <!--グループ一覧-->
      <button class="group-button" id="1">グループ１</button>
      <button class="group-button" id="2">グループ２スポーツクラブ！！！＊＊＊＊＊＊</button>
      <button class="group-button" id="3">グループ３</button>
      <button class="group-button" id="4">グループ４</button>
      <button class="group-button" id="5">グループ５</button>
      <button class="group-button" id="6">グループ６</button>
  </div>
  <div class="add-button">
    <a href="/home"><button class="add-button2" id="join-group-button()">参加</button></a> <!-- 参加ボタンを追加 -->
  </div>
</div>
{% endblock %}
