{% extends 'pages/large-window-pages/base.html' %} 
{% block title %}
<title>初回グループ選択画面</title>
{% endblock %} 
{% block body %}
<div class="border "><!--メッセージ（ようこそ）-->
  <form class="firstgroup-form" method="post" action="/select_firstgroup"> <!--2024/11/21 うっちゃん追加-->
    <div class="group-add"> 
        <h1>Nice to meet you!</h1>
        <h2>グループを選択してね！</h2>
    </div>
    <div class="group-add-container"> 
      <!--グループ一覧（2024/11/21 うっちゃん グループ直指定）-->
        <!-- 
        <button class="group-button" id="1">バスケグループ</button>
        <button class="group-button" id="2">野球グループ</button>
        <button class="group-button" id="3">音楽グループ</button>
        <button class="group-button" id="4">ドッチボールグループ</button>
        <button class="group-button" id="5">お茶グループ</button>
        <button class="group-button" id="6">モルックグループ</button> 
        2024/11/23 コンフリクトのためコメントアウト
        <label><input type="checkbox" name="group_id" value="4">バスケグループ</label><br>
        <label><input type="checkbox" name="group_id" value="5">野球グループ</label><br>
        <label><input type="checkbox" name="group_id" value="6">音楽グループ</label><br>
        <label><input type="checkbox" name="group_id" value="7">ドッチボールグループ</label><br>
        <label><input type="checkbox" name="group_id" value="8">お茶グループ</label><br>
        <label><input type="checkbox"  name="group_id" value="9">モルックグループ</label><br>        
        -->
       <label>
          <input type="checkbox" name="group_id" value="4">
          <span class="group-button">バスケグループ</span>
        </label>
        <label>
          <input type="checkbox" name="group_id" value="5">
          <span class="group-button">野球グループ</span>
        </label>
        <label>
          <input type="checkbox" name="group_id" value="6">
          <span class="group-button">音楽グループ</span>
        </label>
        <label>
          <input type="checkbox" name="group_id" value="7">
          <span class="group-button">ドッチボールグループ</span>
        </label>
        <label>
          <input type="checkbox" name="group_id" value="8">
          <span class="group-button">お茶グループ</span>
        </label>
        <label>
          <input type="checkbox" name="group_id" value="9">
          <span class="group-button">モルックグループ</span>
        </label>     
      </div>
    <div class="add-button">
      <!-- <a href="/home"> -->
      <!-- <button class="add-button2" id="join-group-button()">参加</button></a> 参加ボタンを追加 -->
      <button class="add-button2" type="submit" >参加</button><!-- 参加ボタンを追加 -->
    </div>
  </form> <!--2024/11/21 うっちゃん追加-->
</div>
{% endblock %}
