{% extends 'pages/large-window-pages/base.html' %}
{% block title %}
<title>グループ追加画面</title>
{% endblock %}
{% block body %}
<!-- ボックス（枠）-->
<div class="make-group-box">
    <div class="mg-img-edit-icon"> <!-- グループ画像・編集アイコン画像、２つのクラス -->
        <!-- グループ画像 -->
        <div class="mg-img-icon">
            <img src="../../../static/img/mg-pic-icon.svg" alt="グループ画像" width="115" height="115">
        </div>
        <!-- 編集アイコン -->
        <div class="mg-edit-icon">
            <img src="../../../static/img/edit-pencil-icon.svg" alt="編集アイコン">
        </div>
    </div>
    <!-- グループ名とそのフォーム --> <!-- バックエンドと相談？ & value属性必要？-->
    <div class="mg-edit-name">
        <label for="group-name">グループ名：</label>
        <input type="text" id="group-name" name="groupName">
    </div>
    <!-- コメントとそのフォーム --> <!-- バックエンドと相談？ --> <!-- <textarea>のvalue属性は少し特殊そう。colsは文字数で入力欄の幅指定、rowsは行数で高さ指定。-->
    <div class="mg-edit-comment">
        <label for="group-comment">コメント：</label>
        <textarea id="group-comment" name="" cols="" rows=""></textarea>
    </div>
    <!-- 公開チェックボックス --> <!-- バックエンドと相談？ --> <!-- チェックボックス一つだけ選択する機能はJSで書くっぽい -->
    <div class="mg-pub-btn">
        <p>公開：</p>
        <label for="yes-pub-btn">
            <input type="checkbox" id="yes-pub-btn" name="mgPubBtn" value="yesPubBtn">
            する
        </label>
        <label for="no-pub-btn">
            <input type="checkbox" id="no-pub-btn" name="mgPubBtn" value="noPubBtn">
            しない
        </label>
    </div>
    <!-- 「グループを作成」ボタン -->
    <div class="mg-make-btn">
        <button type="button">グループを作成</button>
    </div>
</div>
{% endblock %}