/* add-group.htmlのCSS */

/* ボックス（枠） */
.add-group-box {
  position: relative;
  z-index: 1;
  border: solid gray;
  border-radius: 30px;
  background-color: white;
  height: 590px;
  padding: 30px;
  margin: 100px 40px;
  box-shadow: 6px 6px 8px #8e8e93;
  overflow-y: scroll;
}
/* タイトル・検索バー・グループモードボタン、３つのクラス */
.add-personal-tsg {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: -20px;
}
/* タイトル */
.add-personal-title {
  position: relative;
  z-index: 1;
  font-size: 27px;
  color: #8e8e93;
  margin-left: 40px;
}
/* 検索バー */
.add-personal-search {
  position: relative;
  z-index: 1;
  margin-right: 680px;
}
/* 検索バーの虫眼鏡のアイコン */
.add-personal-search button {
  position: absolute;
  right: 7px;
  top: 10%;
  border: none;
  background-color: #fff;
}
/* 検索バーの枠 */
.add-personal-search input {
  width: 250px;
  height: 38px;
  font-size: 18px;
  border: 1px solid gray;
  border-radius: 8px;
}
/* グループモードボタン */
.add-group-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 1;
  width: 79px;
  height: 79px;
  border-radius: 50px;
  border: solid #8e8e93;
  background: linear-gradient(to right, #d4fc79, #96e6a1);
  filter: brightness(50%);
  padding: 5px;
  margin-right: 20px;
  color: black;
}
/* 友達一覧テーブル */
.add-personal-friends {
  margin: 15px 45px;
  background: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}
/* 友達一覧テーブルの一行一行のリスト */
.friend-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
/* 友達一覧テーブルの一行の中にあるアイテムの全体のクラス */
.friend-item {
  display: flex;
  align-items: center;
  padding: 20px;
  border-radius: 5px;
  border-bottom: 1px solid #eee;
  transition: background 0.3s;
}
/* 友達一覧テーブルの一行にカーソルを持ってくると反応するホバー */
.friend-item:hover {
  background: #f0f0f0;
}
/* 友達一覧テーブルの左横にあるチェックボックス */
.friend-item input {
  position: relative;
  width: 43px;
  height: 43px;
  appearance: none;
  background-color: #fff;
  border: solid 4px #8e8e93;
  border-radius: 4px;
  left: -10px;
}
/* チェックする前の隠れた装飾 */
.friend-item input::before {
  position: absolute;
  inset: 0;
  display: block;
  width: 100%;
  height: 100%;
  content: "";
  opacity: 0;
  background-image: url(../img/check-icon.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-color: transparent;
}
/* チェック後に現れるチェックボックス内の色 */
.friend-item input:checked {
  background: linear-gradient(to right, #d4fc79, #96e6a1);
}
/* チェックしたら「上２つで指定したものが現れるよ」という指定 */
.friend-item input:checked::before {
  opacity: 1;
}
/* 友達一覧テーブルの中にある「チャットする」ボタン */
.friend-item button {
  position: absolute;
  margin-left: 1080px;
  padding: 10px;
  font-size: 18px;
  font-weight: bold;
  color: #8e8e93;
  border-radius: 30px;
  border: none;
  background: #aeaeb2;
}
/* 友達一覧テーブルの中にあるプロフィールアイコン画像 */
.profile-pic {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 10px;
}
/* 友達一覧テーブルの中にある「友達1」とかユーザーの名前が表示される部分 */
.friend-name {
  margin-left: 20px;
  font-size: 18px;
  color: #8e8e93;
}
/* 「次へ」ボタンのクラス */
.add-group-next-btn {
  display: flex;
  justify-content: center;
  margin-top: -180px;
  position: relative;
  z-index: 2;
}
/* 「次へ」ボタンの装飾 */
.add-group-next-btn button {
  padding: 10px;
  width: 175px;
  height: 70px;
  font-size: 30px;
  border-radius: 8px;
  border: solid #8e8e93;
  background: linear-gradient(to right, #d4fc79, #96e6a1);
  color: #fff;
  font-weight: bold;
  box-shadow: 2px 3px 4px #8e8e93;
}
.add-group-next-btn button:hover {
  box-shadow: 0px 5px 10px #353535;
}
.error-container-addgroup {
  margin: 0 45px;
  font-size: 18px;
  color: #8e8e93;
}
