.body{
    margin: 0; /* デフォルトの余白を削除 */
}

.design{
    z-index: -1;
    position: fixed;
    top: 0;
    left: 0;
    width: 45%;
    height: 45%;
    background-color: #A1EC95;
    border-radius: 0% 100% 100% 0% / 100% 0% 100% 0% ;
}

.design2{
    z-index: -1;
    position: fixed;
    bottom: 0;
    right: 0;
    width: 45%;
    height: 45%;
    background-color: #A1EC95;
    border-radius: 100% 0% 0% 100% / 100% 100% 0% 0%  ;  
}
