/* ログイン画面のCSS */

.registration-box {
  border: solid #000;
  border-radius: 30px;
  padding: 30px;
  margin: 80px auto;
  box-shadow: 4px 4px 6px #8e8e93;
  width: 80%;
  max-width: 1000px;
  background-color: #fff;
}
.registration-main {
  display: flex;
  justify-content: space-evenly;
}
.registration-main div {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.registration-container h1 {
  font-size: 60px;
  font-weight: bold;
}
.registration-label {
  margin: 10px auto;
}
.registration-label label {
  font-size: 17px;
  margin-bottom: 5px;
}
.registration-label input {
  width: 390px;
  height: 40px;
  border: solid;
  border-radius: 10px;
  font-size: 20px;
}
.login-button {
  font-size: 20px;
  padding: 15px;
  width: 400px;
  border: none;
  border-radius: 10px;
  margin-bottom: 10px;
  color: #212529;
  background-color: #278949;
}
.login-button:hover {
  box-shadow: 0px 5px 10px #353535;
}
.signup-button {
  font-size: 20px;
  width: 400px;
  height: 60px;
  border: none;
  border-radius: 10px;
  color: #fff;
  background-color: #a1ec95;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}
.signup-button:hover {
  box-shadow: 0px 5px 10px #353535;
}
/* サインアップ画面のCSS */

.signup-box {
  border: solid #000;
  border-radius: 30px;
  padding: 60px 40px;
  margin: 80px auto;
  box-shadow: 4px 4px 6px #8e8e93;
  width: 980px;
  text-align: center;
  background-color: #fff;
}
.flexbox {
  display: flex;
  flex-direction: column;
}
.flex-item {
  margin-top: 30px;
}

/* この3つは性別ラジオボタンのCSS */
.signup-radio {
  margin-top: 35px;
  margin-bottom: 10px;
}
.signup-radio p {
  display: inline-block;
  text-align: left;
  width: 300px;
  font-size: 18px;
  font-weight: bold;
}
.signup-radio label {
  font-size: 18px;
  margin-right: 50px;
}

.flex-item label {
  display: inline-block;
  text-align: left;
  width: 300px;
  font-size: 18px;
  font-weight: bold;
}
.flex-item input {
  width: 400px;
  height: 35px;
  border: solid;
  border-radius: 10px;
  font-size: 18px;
}
/* 所属シェアハウスのセレクトボタンのCSS */
.flex-item select {
  width: 410px;
  height: 42px;
  border: solid;
  border-radius: 10px;
}
/* 登録ボタンのCSS */
.button-container {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}
.flexbox-button {
  font-size: 20px;
  padding: 10px;
  width: 200px;
  border: none;
  border-radius: 10px;
  color: #fff;
  background-color: #278949;
}
.flexbox-button:hover {
  box-shadow: 0px 5px 10px #353535;
}
.flashes {
  list-style-type: none;
  font-size: 18px;
  padding-top: 20px;
}
.login-link {
  font-size: 18px;
  padding: 20px 0px 20px 70px;
  color: black;
}
